[2015-01-27 07:26] quackers8me opened #1 "Backup_migrate still todo"
These items still need work
- stdClass items have been moved to entity_create but they had not been tested to see if it worked (may not be declared properly).
- system_settings_form conversion in destinations.nodesquirrel.inc: there are 4 functions all called in one system_settings_form() that have items that can be saved separately to the config file. I created a scratchpad of those functions her

[2015-01-27 07:26] quicksketch opened #2 "Rename to just "backup_migrate""
Let's see if renaming works this time. :wink:

Could you rename this to just "backup_migrate"?

[2015-01-27 07:28] quackers8me commented on #2
Done :-)

[2015-01-27 07:28] #2 closed, assigned to nobody

[2015-01-27 07:29] quicksketch commented on #2
woot!!

[2015-01-27 07:38] quackers8me commented on #2
and the push worked fine too. Thanks again and goodnight.

[2015-01-29 04:27] quackers8me commented on #1
backdrop code conversion complete.

[2015-01-29 04:27] #1 closed, assigned to nobody

[2015-01-29 04:28] quackers8me opened #3 "Private files directory not pulling from Backdrop system config"
fix an issue with saving your private files directory. It didn't seem to be pulling from the config file for some reason. If you manually put in a full path you can run a backup successfully.

[2015-01-29 05:03] quackers8me commented on #3
fixed! I changed private_file_path to pull from system.core config

[2015-01-29 05:03] #3 closed, assigned to quackers8me

[2015-02-23 22:04] sirkitree opened #4 "NodeSquirrel settings fatal error"
This path: /admin/config/system/backup_migrate/nodesquirrel
Gives a fatal error: Fatal error: Class 'backup_migrate_destination' not found in /Users/sirkitree/repos/beta.vrsites.com/docroot/modules/contrib/backup_migrate/includes/destinations.nodesquirrel.inc on line 351

[2015-02-27 08:03] quicksketch opened #5 "Add an upgrade path, remove old update hooks"
Hi @quackers8me! Nice job on porting this module. It looks like we still have all the update functions from the Drupal 7 module in the .install file, including some updates in the 2xxx numbering. Because Backdrop update numbers start over at 1000, this can cause some screwy behavior.

To provide an upgrade path, all existing update hooks should be removed from the .install file, add a hook_update_

[2015-02-27 08:25] Graham-72 commented on #5
This is very helpful guidance on what should be in the .install file for Backdrop. Is it documented somewhere else for future reference?

[2015-02-27 14:32] quackers8me commented on #5
Thanks @quicksketch, I didn't realize the old updates needed to be removed.
Completed now.

[2015-02-27 14:32] #5 closed, assigned to nobody

[2015-02-27 16:49] herbdool commented on #5
It is documented on the module conversion page https://api.backdropcms.org/converting-modules-from-drupal

[2015-02-27 17:01] Graham-72 commented on #5
Thanks for that reminder and link.

[2015-05-25 19:34] Graham-72 opened #6 "Use of DRUPAL_ROOT"
At line 506 in backup_migrate.module should it not be BACKDROP_ROOT ?

[2015-05-26 04:16] quackers8me commented on #6
Hi @Graham-72, Thanks for catching that and I found some other Drupal references and hooks that could be replaced. Also merged in changes from recent Drupal module update.

[2015-05-26 09:09] Graham-72 commented on #6
:+1:  Thanks for porting this module. It would be good now to have it as a formal release so that it is recognised by update.

[2015-05-26 13:03] quackers8me commented on #6
I wasn't aware of that and have now created a release. Thanks for pointing that out.

[2015-05-26 13:11] Graham-72 commented on #6
And the system needs a line added to the .info file giving the type of the project i.e.
type = module

I got caught out by this one when I first created a release.

[2015-05-26 13:16] docwilmot opened #9 "Make PACKAGING_ERROR_LOG.txt open in browser instead of downloading"
If possible. Its annoying.

[2015-05-26 13:27] quackers8me commented on #6
Thanks again, also caught that my merge wasn't complete.

[2015-05-26 13:29] quackers8me commented on #9
Not sure how to do that, but created a new release to fix a different issue. No packaging_error in this release.

[2015-05-26 13:29] #9 closed, assigned to nobody

[2015-05-26 13:33] docwilmot commented on #9
Ha, sorry wrong queue.

[2015-05-26 17:30] quackers8me commented on #4
This is now fixed with the generous help of @ronan

[2015-05-26 17:30] #4 closed, assigned to quackers8me

[2015-06-03 13:49] Graham-72 commented on #6
I have found a couple more DRUPAL_ROOTs in includes/destinations.file.inc

[2015-06-05 20:54] quackers8me commented on #6
Thank-you. Cleaned up now.

[2015-06-05 20:54] #6 closed, assigned to nobody

[2015-09-21 20:42] jenlampton opened #13 "Clean up README.md file"
Hi @quackers8me, and thank you for porting Backup & Migrate to Backdrop! It looks like the README.md file for this project is not _quite_ properly formatted.

The only real problem is the first heading "DESCRIPTION:". When properly formatted, this first heading (usually the project name) will be removed by backdropcms.org. Take a look at the modules page to see the problem: https://backdropcms.org

[2015-09-22 04:47] quackers8me commented on #13
Hi @jenlampton, thank-you for the catch. I've fixed and re-released now.

Cheers,
Jason

[2015-09-22 04:47] #13 closed, assigned to nobody

[2015-09-28 06:29] jenlampton commented on #13
Thank you!

[2015-10-31 21:29] clickbox opened #14 "json_decode(): integer overflow detected in ConfigFileStorage->decode() (line 982 ...core/includes/config.inc)."
Maybe I didn't follow the installation instructions correctly but I get a ton of these errors after enabling this module on my apache/ubuntu server.

`json_decode(): integer overflow detected in ConfigFileStorage->decode() (line 982 of /var/www/live_ezenwaisiogu/core/includes/config.inc).`

[2015-11-12 07:47] Graham-72 opened #15 "Undefined constant VERSION"
When I perform a backup it works but I am getting reports like this:

`
Notice: Use of undefined constant VERSION - assumed 'VERSION' in backup_migrate_source_db_mysql->_get_sql_file_header() (line 449 of /var/www/vhosts/mydomain.org.uk/httpdocs/backdrop/modules/backup_migrate/includes/sources.db.mysql.inc).
`
`
Notice: Use of undefined constant VERSION - assumed 'VERSION' in backup_migrate_filter

[2016-02-19 20:11] herbdool opened #16 "Remove references to Drupal in .info"
The description in .info mentions Drupal when it should mention Backdrop.

[2016-03-20 12:08] Graham-72 commented on #16
I have added a PR https://github.com/backdrop-contrib/backup_migrate/pull/17

[2016-04-05 19:29] #16 closed, assigned to nobody

[2016-04-05 19:29] #15 closed, assigned to nobody

[2016-06-05 09:09] amilenkov opened #19 "Token for backup file names"
https://backdropcms.org/project/backup_migrate - there is written:
"Enable token.module to allow token replacement in backup file names."

Now token.module is in core but I can not see tokens for backup file names.

Am I mistaken or this function will be added later?

![edit_settings_profile](https://cloud.githubusercontent.com/assets/14857883/15804570/4c729370-2b16-11e6-91dd-5ee1c818f0a1.png)

[2016-06-12 23:42] LeeteqXV commented on #14
I just did a fresh install of BD 1.4.2 (PHP version 5.6.20, 192 MB RAM), and also getting lots of those entries in the log right after enabling (only) Backup and Migrate module, which is the only extra module that has been enabled on this new site.

**Some background info for troubleshooting:**
Timeout set to 120 (2 minutes) in settings.php, and I installed (downloaded) 20 modules simultaneously d

[2016-08-26 18:58] dyrer opened #20 "Notice: json_decode(): integer overflow detected in ConfigFileStorage->decode()"
Hello
I have installed backup & migrate to a new server and am getting this error
`Notice: json_decode(): integer overflow detected in ConfigFileStorage->decode() (line 984 of /home/public_html/core/includes/config.inc).`

I have tested the same thing with Kalabox and is working, so I think is something missing from my configuration

[2016-08-26 20:58] dyrer commented on #20
Update: I switched to PHP 7 and no error messages

[2016-08-26 22:37] quackers8me commented on #20
Hello, I did a quick search on this and it may be due to this issue with the JSON parser:
https://github.com/remicollet/pecl-json-c/issues/13
But PHP 7 has a new JSON extension which may be the reason the 'Notice' no longer appears.

[2016-08-26 22:39] quackers8me commented on #14
see issue #20

[2016-08-26 22:39] #14 closed, assigned to nobody

[2016-08-26 22:57] quackers8me commented on #20
Hi @quicksketch ,
After thinking about this issue a minute, does Backdrop use the pecl-json-c parser?

[2016-08-26 23:49] quackers8me commented on #19
I have confirmed on my system that this works. If you have set your 'site name' in: admin/config/system/site-information
It will automatically pull that token [site:name] into backup migrate as the backup file name.

[2016-08-28 09:17] amilenkov commented on #19
But in my system this is still not working.
Core is Backdrop 1.4.4.
Here is my site information:
![site_information_ _ _ _-_2016-08-28_11 59 02](https://cloud.githubusercontent.com/assets/14857883/18032711/479c6644-6d17-11e6-98ef-dc36ee85bdb1.png)

This is Edit Settings Profile as default:
admin/config/system/backup_migrate/settings/profile/edit/default
You can see that there is no list of tokens

[2016-08-29 17:04] quackers8me commented on #19
Hi @amilenkov after further review, the Token function was not being called properly since it was moved to core. I have now fixed that and created a new release.

BUT, the issue you initially reported is not related to tokens but to the use of non-ascii characters in your site name.

[code]

To support your language it would require some further development and possibly add dependencies with other

[2016-08-29 17:04] #19 closed, assigned to nobody

[2016-08-29 19:58] quackers8me commented on #20
@dyrer This is now fixed in the latest release.
PHP5.6 was more strict in the json_decode library but then they changed json libraries in PHP7.

[2016-08-29 19:58] #20 closed, assigned to nobody

[2016-08-29 19:59] quackers8me commented on #14
@clickbox @LeeteqXV
This is now fixed in the latest release.
PHP5.6 was more strict in the json_decode library but then they changed json libraries in PHP7.

[2016-08-29 23:38] dyrer commented on #20
thank you

[2016-09-01 00:21] klonos commented on #19
@amilenkov, @quackers8me transliteration is now in core (since 1.3.0). You can enable the "Transliterate prior to creating URL aliases" option in `/admin/config/search/path/patterns/settings` for now and that should take care of non-ASCII characters 😉

[2016-09-01 02:21] quackers8me commented on #19
Thanks Gregory.
Keep in mind that even if you do use Transliteration, you will need to use
the [site:url] tokens.

On Wednesday, 31 August 2016, Gregory Netsas notifications@github.com
wrote:

[2016-09-28 07:01] ghost opened #21 "Support multisites"
I'm using a multisite setup and when trying to backup my 'entire site', it's trying to backup all of my websites (as they're all running off the same copy of Backdrop). Can you please make this module support multisite so that backing up a website only backs up that specific website?

[2016-09-29 03:31] ghost opened #22 "Copy/paste error"
When creating a new 'File Directory' Source, the help text for the Directory Path field says:

This was obviously copied from the help text of the Directory Path field in the 'Server Directory' Destination and needs to be updated appropriately.

[2016-09-29 13:28] quackers8me commented on #22
Thanks @BWPanda, this has now been fixed and released.

[2016-09-29 13:28] #22 closed, assigned to nobody

[2016-09-29 13:33] quackers8me commented on #21
As this is a new feature request, I will have to defer looking into this due to other commitments.

[2016-10-10 23:40] ghost opened #23 "file_directory_path() has been removed"
When trying to restore a full backup of my site, I had an error which Apache's log showed as an issue with the function `file_directory_path()` in `includes/sources.archivesource.inc`. Investigation led me to this:

[file_directory_path() has been removed](https://www.drupal.org/update/modules/6/7#file_directory_path)

So that needs fixing I guess.

[2017-01-15 19:39] Graham-72 opened #24 "Deprecated function: Methods with the same name as their class"
I am getting a couple of warnings with PHP 7
Deprecated function: Methods with the same name as their class will not be constructors in a future version of PHP; mime_mail has a deprecated constructor in include_once() (line 107 of ..../httpdocs/backdrop/modules/backup_migrate/includes/crud.inc).
Deprecated function: Methods with the same name as their class will not be constructors in a future ver

[2017-01-16 05:23] quackers8me commented on #24
Issue has been filed and fixed in Drupal module dev version.
https://www.drupal.org/node/2623598
Will patch and test with Backdrop version

[2017-01-16 08:25] Graham-72 commented on #24
Your fix is working with PHP7 here. Thanks.

[2017-01-17 06:25] quackers8me commented on #24
Fixed in release 1.0.10

[2017-01-17 06:25] #24 closed, assigned to quackers8me

[2017-01-17 07:09] quackers8me commented on #23
Should be resolved with this patch from the Drupal issue queue. Will fix, test and make release shortly.
https://www.drupal.org/node/2618516

[2017-01-17 17:10] quackers8me commented on #23
@BWPanda Hello, can you please test this bug fix on your environment?

[2017-01-17 17:20] quackers8me commented on #23
Reopen for testing before creating release.

[2017-01-18 02:58] ghost commented on #23
Sorry @quackers8me, because of the issues I was having I am no longer using this module.

[2017-01-25 08:37] Graham-72 opened #25 "Warning: A non-numeric value encountered."
I am getting a warning when viewing saved backups listing.

Warning: A non-numeric value encountered in _backup_migrate_ui_destination_display_file_list() (line 408 of ....../modules/backup_migrate/includes/destinations.inc)

[2017-01-25 09:59] Graham-72 opened #26 "Unable to use advanced backup in PHP7."
NB This seems to be an issue when using PHP7. It seems OK in PHP5.

When I try the menu item for an advanced backup my site crashes.

....../admin/config/system/backup_migrate/export/advanced

gives me on screen:
Error
The website encountered an unexpected error. Please try again later.

and I am getting these logged reports:

Warning: Illegal string offset 'data' in _token_token_tree_format_row()

[2017-01-25 11:07] Graham-72 commented on #25
This issue would seem to be fixed by commit https://github.com/backdrop-contrib/backup_migrate/pull/27/commits/f5048326ec57522685de2a583fceba6480927927

Apologies, I seem to have muddled things in my attempts to create a PR.

[2017-01-25 16:27] quackers8me commented on #25
Fixed in merge commit

[2017-01-25 16:27] #25 closed, assigned to nobody

[2017-01-25 16:28] quackers8me commented on #23
testing complete

[2017-01-25 16:28] #23 closed, assigned to quackers8me

[2017-01-25 17:59] quackers8me commented on #26
Hi @Graham-72 , I have tested with the latest commits and I cannot get it to fail.

I'm guessing that it has something to do with your 'site-name' as the advanced page has that field as the default token for the backup filename, and it's related to the error you've posted. Can you post your site-name for testing?
Thank-you.

[2017-01-25 19:59] Graham-72 commented on #26
Hi @quackers8me thanks for looking at this. I have done a bit more testing and find that it only fails when I have my server set to be using PHP7.1.1. Changing to PHP7.0.15 clears the problem. Interesting!

I have tried on three different sites. The most recent one I have been using had the site name 'oliverhosting.uk' and following your comment I wondered whether the full stop in the name might b

[2017-05-24 02:55] jenlampton opened #28 "[UX] Wrap option to use Elysia cron in module_exists()"
I'm not using the elysia cron module, yet on the settings page for Backup and migrate I still see the option "Run using Elysia cron". This option should only appear if that module is installed and enabled, otherwise it clutters the UI and creates a less-than-ideal user experience.

[2017-07-16 17:40] robertgarrigos opened #29 "Error on accessing settings page"
I'm getting this error when trying to get the settings page on admin/config/system/backup_migrate/settings:

[code]

[2017-07-17 17:03] robertgarrigos commented on #28
@jenlampton I'm just looking at this because the settings were actually unaccessible (there is a
 PR (https://github.com/backdrop-contrib/backup_migrate/pull/30) for that) and what I see right now is a dimmed option for elysia cron, which I find actually useful. Its a way of saying "I can work with elysia cron". It could be said with just a text line. Either way, with a module_exists() wrap you wo

[2017-07-17 18:57] jenlampton commented on #28
It's ultimately up to you, but my point was that people who are not using the Elysia cron module won't understand what it means, and even if they do, they won't care that the option exists. For them, seeing the setting creates clutter and confusion, leading to a poorer user experience.

If Elysia cron was a core module or a module used by more than 80% of Backdrop users, it would make sense to dis

[2017-09-06 07:04] opi opened #31 "Configuration (schedule) export"
Hi,
Is there any way to export schedules to code ? I saw the export button, with the ability to paste in the import textarea, but I would like a way to version my scedules, like Drupal+Features does.

What would be the easier solution ?

[2017-09-27 12:36] #29 closed, assigned to nobody

[2017-11-08 17:24] olafgrabienski opened #32 "Scheduled backup uses ID and name from other schedule"
I had configured a daily database backup schedule on a Backdrop site and added a weekly public files backup schedule later. Both schedules have distinct names: *Daily database backup* vs. *Weekly public files backup*.

When I downloaded the backups I noticed that schedule ID and name in the `.info` files of both backups are the same. ID and name in the `.info` of the files backup are exactly the s

[2017-11-10 23:50] jackaponte opened #33 "Exclusions don't save properly on settings profile pages"
When editing a settings profile (`/admin/config/system/backup_migrate/settings/profile/edit`) some iterations of selecting and deselecting tables to be excluded from backups don't work properly in `backup_migrate-1.x-1.0.11`; some selections and deselections aren't preserved upon saving the profile.

Here's what I've observed for the two exclusion fields on my Backdrop 1.8.0 site:

* Exclude the f

[2018-01-12 02:08] ghost commented on #21
Here's a patch I made for the Drupal version to support multisites. It may help here too...

https://www.drupal.org/project/backup_migrate/issues/2606288#comment-12417122

[2018-01-15 05:09] quackers8me commented on #21
@BWPanda I have applied your patch and updated it to backdrop standards (replace drupal instances). I do not have a multisite to test it though. If you can clone branch issue21 and test it would be greatly appreciated.

[2018-01-15 06:33] quackers8me commented on #33
@jackaponte I've had to add two patches from the drupal branch for this issue. Can you please checkout branch 'issue33' and test in your environment.

[2018-01-16 04:11] ghost commented on #21
@quackers8me Great! There were a few small issues that I fixed with the attached PR. Other than that, all good!

[2018-02-08 02:36] laryn opened #35 "Backup config (as separate category)"
I'm not sure how much work it would take, but I think it would be great to expand B&M scope to also include config. I had started a site in one place and then was going to duplicate on my localhost, so I set up an empty Backdrop installation, activated B&M, and tried to restore an "entire site" archive. Various things seem to be missing and in a chat on Gitter @quicksketch suggested maybe B&M didn

[2018-02-08 03:31] herbdool commented on #35
I think that's right, no changes were made to work with config files. If your config files are in /files/ you might be in luck if you back up the db and files, otherwise nope.

[2018-02-08 03:33] quackers8me commented on #35
@laryn When I ported it I believed I included all the steps to have a proper config setup as I believe this is the strength of Backdrop.
I checked and BAM does write it's config to: files/config_[yourhash]/active/backup_migrate.settings.json
and when you run the export sync
`see` admin/config/development/configuration/sync
and check the archive the BAM json is in there.
Maybe a portion of the sett

[2018-02-08 03:40] laryn commented on #35
@quackers8me Just to make sure we're talking about the same thing, I'm not referring to BAM saving its own settings in a config file, but including all config files in the "entire site" backup archive to download and restore on another site.

[2018-02-08 03:41] herbdool commented on #35
@quackers8me from what I understand that only works if the config files are in the files directory. We can't assume that. The config directory is defined in settings.php

I think a new source should be written to capture config in all cases.

[2018-02-08 03:44] quackers8me commented on #33
merged in patches

[2018-02-08 03:44] #33 closed, assigned to nobody

[2018-02-08 03:45] quackers8me commented on #21
merged

[2018-02-08 03:45] #21 closed, assigned to nobody

[2018-02-08 06:36] quackers8me commented on #35
Ok, I understand now. Should the 'Sources' option be changed from DB to 'DB and Configs dir', and the Entire site would also include configs dir?

[2018-02-08 14:06] oadaeh commented on #26
I tried duplicating this on a local install with PHP 7.1.13, and I did not have the problem. Has this been fixed?

[2018-02-08 14:12] laryn commented on #35
That sounds reasonable to me.

[2018-02-08 14:35] quackers8me commented on #26
@oadaeh I could not recreate issue so nothing has been done related to php 7.1.

[2018-02-08 14:35] #26 closed, assigned to nobody

[2018-02-08 15:14] Graham-72 commented on #35
This will be very useful. 👍

[2018-03-30 22:08] jenlampton commented on #35
Plus one for this whole conversation!  Ideally I'd like to see:
* `Configuration directory` to appear in the "Backup Source" options list by itself
* `Entire site (code, files, & db)` changed to `Entire site (code, files, db & config)`

[2018-03-30 22:09] jenlampton opened #38 "[UX] what's the difference between "Add schedule" and "Create a new schedule"?"
On the schedules tab there's both an action link, and a link at the bottom of the page to `Create a new schedule`. Do these both do the same thing? If so, what's the reason for the non-action link version? Can it be removed?
<img width="1190" alt="screen shot 2018-03-30 at 3 09 03 pm" src="https://user-images.githubusercontent.com/397895/38155439-a2a774f6-342c-11e8-8fcd-99190d89b7d8.png">

[2018-03-30 22:13] jenlampton opened #39 "[UX] Operations should be converted to drop-buttons"
The "Operations" column on the right hand side of the schedules page contains three links, edit, delete, and export, and the wrapping of text in that column makes the links hard to scan. Can we convert these into a drop-button instead? That would be consistent with the rest of Backdrop's admin UI.
<img width="1190" alt="screen shot 2018-03-30 at 3 09 03 pm" src="https://user-images.githubuserconte

[2018-04-20 17:45] laryn opened #40 ""Edit Schedule" still links to Drupal pages/projects"
The "Edit Schedule" page directs people to Drupal pages and projects:

- Cron links to Drupal documentation (but could be linked to the site's cron settings page). [Related](https://github.com/backdrop/backdrop-issues/issues/3044).
- Elysia Cron and Drush both link to the Drupal projects but should link to the Backdrop versions instead.

PR coming.

[2018-04-23 03:50] quackers8me commented on #40
Thanks @laryn

[2018-04-23 03:50] #40 closed, assigned to nobody

[2018-04-23 05:11] quackers8me commented on #39
I took a look and I think this task is beyond my kin.
It looks like the Operations links are generated dynamically from BAM's crud.inc but I'm not clear on how you could wrap that in the drop-button UI? I could not find how this UI is called in the admin. The only reference in the API is:
https://api.backdropcms.org/api/backdrop/core%21includes%21theme.inc/function/theme_dropbutton_wrapper/1
but t

[2018-04-24 06:06] jenlampton commented on #39
Yeah, it's a little crazy for sure. A theme wrapper is attached to a render array rather than being called directly, so it can be hard to find examples. I'll see if I can file a PR for it.

[2018-08-24 23:02] jenlampton opened #42 "Can't enable module for the second time."
When I enable this module, then disable, then enable again, I get an error, and the caches are not cleared after the module enables.

In my dblog, I see this:
[code]

[2018-11-11 11:05] opi opened #43 "backup_migrate_schedule_last_run variable should be store as state, not config"
The variable `backup_migrate_schedule_last_run_ID` change upon each schedule run. It results as a diff in config managment, even if real config has no change.

I recommend saving this variable as a state (using [state_set](https://api.backdropcms.org/api/backdrop/core%21includes%21bootstrap.inc/function/state_set/1) & [state_get](https://api.backdropcms.org/api/backdrop/core%21includes%21bootstrap

[2018-11-11 12:50] herbdool commented on #43
Absolutely. I agree.

[2018-11-11 14:12] opi commented on #43
Created PR #44

[2018-11-12 05:04] #43 closed, assigned to nobody

[2018-11-12 05:15] quackers8me commented on #42
Hi @jenlampton , I couldn't reproduce this error with Backdrop 1.11.2 and the current backup_migrate. I will leave this bug open in case other users experience this issue.

[2018-11-12 05:21] quackers8me commented on #32
This should be fixed in the current release with issue #43 and a PR by @opi

[2018-11-12 05:21] #32 closed, assigned to nobody

[2018-11-12 11:36] opi commented on #32
hmm, not sure my PR is related to this issue...

[2019-01-03 23:06] kthull opened #45 "Database download gzip is actually not compressed"
For a particular site I'm working on, running a quick backup of the database (all defaults) downloads the zip file correctly, but the resulting zip is corrupt with the following errors:

- On MacOS, the unzipped `.gz` file becomes a `.cpgz` file which cannot be unzipped
- On the command line, using the `unzip` command results in the following error: End-of-central-directory signature not found.  E

[2019-01-04 11:26] olafgrabienski commented on #45
Hey @kthull, is this an issue only on the particular site (while on others the backup runs fine), or haven't you tested it on other sites?

[2019-01-04 14:54] kthull commented on #45
I have not had the opportunity to test on other sites.

[2019-01-04 15:34] olafgrabienski commented on #45
Thanks for your feedback. I've tried to reproduce the issue on a test site, and there the quick database backup using the defaults downloads a `.gz` file which I could extract on Mac OS X without problems by opening it in *Finder* or using the `gunzip` (NB: not `unzip`) command.

[2019-01-09 15:32] opi opened #46 "Incorrect backup_migrate_smart_keep_weekly value"
From https://github.com/backdrop-contrib/backup_migrate/blob/1ab61612b43d0a4a5b92e43d1a9a4657f46b7876/config/backup_migrate.settings.json#L30

`"backup_migrate_smart_keep_weekly": 2147483647,`

I guess this should be something like 4... but it seems to be intentional https://github.com/backdrop-contrib/backup_migrate/commit/1ab61612b43d0a4a5b92e43d1a9a4657f46b7876#diff-65910faaf5871d4388da6c06cd01

[2019-01-09 17:21] Radcliffe commented on #46
This value is 2^31 - 1, which is the largest 32-bit signed integer. I suppose it means that all weekly backups should be kept. The previous value was 2^63 - 1, the largest 64-bit signed integer.

[2019-01-09 17:56] quackers8me commented on #46
Yes, the default is to keep all weekly backups. The original Drupal module
used this as a setting:

define('BACKUP_MIGRATE_SMART_KEEP_WEEKLY', PHP_INT_MAX);

But that constant couldn't be added to the BD settings.json so I
hardcoded the largest 32 bit integer.

On Wed, Jan 9, 2019 at 9:32 AM David Radcliffe <notifications@github.com>
wrote:

[2019-01-09 20:22] opi commented on #46
is it really relevant to keep every weekly backup ?

- hourly are kept for a day
- daily are kept for a week
- My guess is that weekly should be kept for a month...

( Backdrop is a grown boy now, and could emancipate from Drupal oddities :p )

[2019-01-14 19:45] jenlampton opened #47 "[UX] Unable to configure module - settings page/form missing (Notice: Use of undefined constant BACKUP_MIGRATE_MENU_PATH)"
As of the latest release (1.x-1.0.14) the menu path `admin/config/system/backup_migrate` only loads the system page `admin/config/system` and the settings form can't be reached.

[2019-01-14 19:45] jenlampton commented on #47
The same is true for 1.x-1.0.13

[2019-01-14 19:47] jenlampton commented on #47
The same is true for 1.x-1.0.12

[2019-01-14 19:49] jenlampton commented on #47
The same is true for 1.x-1.0.11

[2019-01-14 19:51] jenlampton opened #48 "the implementation of `hook_help()` should be removed"
Backdrop has no hook_help.

[2019-01-14 19:51] jenlampton commented on #47
The same goes for 1.x-1.0.10.

[2019-01-14 19:57] jenlampton commented on #47
I've rolled all the way back to version 1.x-1.0.1 and still can't get anything to appear at `admin/config/system/backup_migrate`. I've also noticed that the "Configure" link on the modules page renders as `admin/config/system` which confirms the menu router issue. Backdrop has no idea there's a page located at `admin/config/system/backup_migrate`.

This is strange to me, as I know I have several s

[2019-01-14 20:07] jenlampton commented on #47
I've confirmed that I have one site running version 1.x-1.0.13, and for that site the form loads correctly at admin/config/system/backup_migrate.

Since it works fine there, I went back and completey uninstalled Backup & Migrate from this problem site, and installed 1.x-1.0.14 from scratch, and now everything seems to be working just fine.

This site was upgraded from Drupal 6 (and then Drupal 7)

[2019-01-14 20:12] jenlampton commented on #47
Ah yep. My log is flooded with PHP notices

[code]

[2019-06-14 23:24] jenlampton opened #49 "Switch the "last run" values from saving in config system to state system"
When I do a git status on sites running backup and migrate, I usually see three values in my config file that have changed. These are:
* backup_migrate_schedule_last_run_untitled_schedule
* backup_migrate_schedule_last_run_files_backup
* backup_migrate_schedule_last_run_nodesquirrel

These are not configuration and are specific to only this single instance of the site. They should be moved to [the

[2019-09-16 12:51] herbdool commented on #49
@jenlampton does this commit address the issue? https://github.com/backdrop-contrib/backup_migrate/commit/3ca235ac04e1f2b0599329fef07591c04a77e5b2 - I'm not totally sure since it adds a schedule_id to the state name and can't tell if it matches those above.

[2019-09-16 12:52] herbdool opened #50 "Nodesquirrel is no more (sad face)"
I guess we can remove that functionality from the module. Hopefully someone comes up with a good alternative.

[2019-09-16 16:36] quackers8me commented on #50
Yes, it will have to be removed. Here are the relevant dates:
"When Will NodeSquirrel Go Away?
NodeSquirrel will stop accepting backups after September 30, 2019.

How Long Will Backups be Stored?
Users will be able to download backups through November 1, 2019."

Source: https://pantheon.io/nodesquirrel-service-end-life

[2019-09-16 16:43] quackers8me commented on #50
Will need to integrate this D7 patch
https://www.drupal.org/project/backup_migrate/issues/3051821

[2019-09-23 16:49] jenlampton commented on #49
@herbdool that handles one of the three variables, yes. It looks like all of them contain the schedule_id, so that exact same change should be duplicated for the other 2 variables also.

[2019-11-27 17:59] herbdool opened #51 "S3 library location"
Should fix where it's looking for the S3 library and also the naming.

[2019-11-27 18:14] herbdool commented on #51
I've created a PR https://github.com/backdrop-contrib/backup_migrate/pull/52 @quackers8me

[2019-11-27 18:19] herbdool commented on #49
It's handing it dynamically so the commit should apply to all of them already. E.g.:

`state_set('backup_migrate_schedule_last_run_' . $this->get('id'), $timestamp);`

I think this issue can be closed.

[2019-11-27 18:29] herbdool commented on #47
`BACKUP_MIGRATE_MENU_PATH` is defined in backup_migrate.module so it should be defined so long as the module is enabled I think. I can't replicate the upgrade from D6/D7 but on a fresh install I don't see the error.

[2019-11-27 18:47] herbdool commented on #50
@quackers8me I've created a PR based on the d.o issue https://github.com/backdrop-contrib/backup_migrate/pull/53 . The d.o hasn't been merged yet but looks like it works.

[2019-11-27 18:51] herbdool opened #54 "Re-add tests"
The Drupal 7 version has tests, we should include them and make them work for Backdrop.

[2019-11-27 22:24] jenlampton commented on #47
Well, the work-around was trivial Uninstall in D6/D7 and re-install in Backdrop. It was easy enough to re-configure. I'll test this again on my next upgraded site, but for now I cannot reproduce it either.

[2019-11-27 22:24] #47 closed, assigned to nobody

[2019-11-27 22:33] jenlampton commented on #49
Ah, well maybe that does cover all of them.  I'll update and test a few sites to see if there are any more issues. If so, I can open a new issue.

[2019-11-27 22:33] #49 closed, assigned to nobody

[2020-03-22 14:26] oadaeh opened #55 "Fix file encryption option"
On the configuration pages, on the Backup tab, on the Advanced Backup sub-tab, in the Backup File field set, there is a File Encryption setting that references the Drupal AES encryption module. That module is:
- A Drupal module that has not been ported to Backdrop
- Unsupported due to a security issue the maintainer didn’t fix

The first thing that probably should be done is to remove that option

[2020-03-22 19:53] jenlampton commented on #45
I'm running into the same problem as @kthull . Files I download from the UI have a file name that ends in `.mysql.gz` but are actually uncompressed `.sql` files. They have not been gzipped. Do you think there might be an issue depending on the server? Maybe some servers can't zip the files, but still rename them anyway, as if they were compressed.

[2020-03-22 20:23] jenlampton commented on #50
Update 1007 won't run for me because the function `backup_migrate_include()` is not defined.
edit: I've added a comment on the PR.

[2020-03-23 16:30] quackers8me commented on #51
Close for merge

[2020-03-23 16:30] #51 closed, assigned to nobody

[2020-03-23 16:31] quackers8me commented on #50
close for merge with #53

[2020-03-23 16:31] #50 closed, assigned to nobody

[2020-03-23 17:21] quackers8me commented on #45
I'm not sure where to start on this. The setting for choosing "No compression" is located here.
admin/config/system/backup_migrate/settings/profile/edit/default
Perhaps the module defaults to gz compression unless manually changed?

Thoughts?

[2020-03-23 17:34] quackers8me commented on #55
I have just removed the text so that any sites that may already be using this are unaffected.

[2020-03-23 17:34] #55 closed, assigned to nobody

[2020-03-23 18:06] jenlampton commented on #45
Or maybe it renames the files even if `No compression` is set? I'll check my site and see what the value of that setting is. I'll also check on my server and see if we have gzip installed...

[2020-03-23 18:33] quackers8me commented on #48
section has been removed

[2020-03-23 18:33] #48 closed, assigned to nobody

[2020-04-13 03:30] Wylbur commented on #46
I just ran across this error.  By selecting smart backups, it seems you will eventually run out of space for backups.

Perhaps a better scheme would be
- hourlys for a day - 24
- dailys for a week - 7
- weeklys for 3 months - 12
- monthly for 3 years - 36

That would make a finite set of backups.

The current value of weeks is pretty silly.

[2020-09-10 15:40] mbomb007 opened #57 "Remove NodeSquirrel from README"
NodeSquirrel stopped accepting backups after September 30, 2019.

https://pantheon.io/nodesquirrel-service-end-life

https://github.com/backdrop-contrib/backup_migrate/issues/50

[2020-09-10 17:50] laryn commented on #57
Thanks! Looks like the functionality was removed in https://github.com/backdrop-contrib/backup_migrate/pull/53 but the README wasn't updated. Would you file a PR to remove it from the README?

[2020-09-10 18:35] mbomb007 commented on #57
Pull Request: https://github.com/backdrop-contrib/backup_migrate/pull/58

[2020-09-10 19:52] #57 closed, assigned to nobody

[2020-09-23 06:01] stpaultim opened #59 "Backup Config Files"
Feature request.

When updating a site, I believe that it probably makes sense to backup the database, the files, and the config directory. I can backup the database and files (and code) with Backup and Migrate, but I must go to the config export to backup the config directory.

I think it would be really great if Backup and Migrate were able to create a backup of config files. It would be nice to

[2020-11-06 18:21] laryn commented on #59
May be a duplicate of https://github.com/backdrop-contrib/backup_migrate/issues/35

[2021-01-07 19:53] kelizoliva opened #60 "Why is config in database rather than files?"
We noticed that most of the config is being stored in the database as json. We were wondering why configuration was not instead writing to the config file? Is this something that is in progress somewhere that we are just not seeing?

[2021-01-07 23:51] stpaultim commented on #60
@kelizoliva - Can you provide a little more information about your question/concern?

It is my understanding that most configuration for Backdrop CMS core is stored in JSON files in the config directory. I am not aware of it being stored in the database at all and I'm not sure what you mean by storing it in the database as json? (But, there may be things going on that I am unaware of or don't full

[2021-01-08 01:31] kelizoliva commented on #60
@stpaultim I was speaking specifically to this module's configuration, not backdrop configuration generally; I'm not sure if something I said was misleading and sounded like I was referring all Backdrop configuration, but that was not my intention. My question is specific to the backup and migrate module configuration, the module represented in this particular code repository that I have opened th

[2021-01-08 03:25] quackers8me commented on #60
This may have been an oversight on my part when I initially ported it to
Backdrop.

I believed that the workflow was to have the defaults load to the database
and then the Backdrop export would be used to save the configuration to the
filesystem if the server needed to be moved into production.

I can look at how the config workflow should be to match other module
examples.

On Thu, Jan 7, 2021 at

[2021-01-21 18:40] kelizoliva commented on #60
Just noting that the Backdrop config export output is identical to what is already in the config file, and is not exporting any of the additional config. So currently config is not portable/replicable.

[2021-01-27 02:39] Radcliffe opened #62 "Fix spelling and grammatical errors"
I have created a pull request (#61) to fix various errors of spelling, grammar, and usage.

[2021-05-14 20:40] wilburec commented on #35
I'm interested to work on this issue.

Can we expand this ticket to include Config as a category:
- Default Database
- Public Files Directory
- Active Configuration
- Entire Site (code, files, configuration, DB)

If that is the case, we should rename this issue to reflect that.

This would also make this issue a duplicate - #59

[2021-05-14 21:56] #59 closed, assigned to nobody

[2021-05-14 21:57] herbdool commented on #35
I agree that the other one is a duplicate. I've closed it.

[2021-05-14 21:59] herbdool commented on #35
@wilburec I'll happily review your work if you like.

[2021-05-16 18:45] opi opened #63 "Error after update to Backdrop 1.19.0"
`Error : Cannot access protected property DatabaseConnection_mysql::$pdo dans backup_migrate_source_db_mysql->_get_db_connection() (ligne 425 dans /path/to/docroot/modules/backup_migrate/includes/sources.db.mysql.inc`

Related Backdrop commit may be https://github.com/backdrop/backdrop/commit/4102cd21190e75e35e4274472565691f7e4fb6a9#diff-a30038705d970e43b622562028439144c59afc2abc9fb53048aff64286fb

[2021-05-16 22:36] MustafaDogan78 commented on #63
Yes there is a problem. I also saw it. My friend also said.

[2021-05-16 22:49] bacdropnb commented on #63
yes the same problem exists in my project

[2021-05-17 04:54] quackers8me commented on #63
I've reviewed the code but cannot find why this error is occurring. I've posted this issue in the above noted issue to see what needs to change.
https://github.com/backdrop/backdrop/commit/4102cd21190e75e35e4274472565691f7e4fb6a9

[2021-05-17 06:52] indigoxela commented on #63
As a quick workaround: comment out line 425 in file includes/sources.db.mysql.inc (in module backup_migrate).

That should bring your sites back.

[2021-05-17 08:45] MustafaDogan78 commented on #63
Very useful when moving site. I felt like my car broke down at the top of the mountain. I think backup migrate should have been in the box.

[2021-05-17 14:49] robnacnamha commented on #63
Similar issue to opi I guess. I created a new vanilla site yesterday with backdrop 1.19.0 and installed backup_migrate using UI and when I came to enable module I got the following error and backup_migrate module not showing up configuration/system, despite appearing to be enabled in module list:

[2021-05-17 15:01] quackers8me commented on #63
It appears the error is because the sql statement has not been prepared first before executing. I will investigate further how to make the prepare on this particular object.
@indigoxela workaround for commenting out line 425
`$this->connection->exec("SET sql_mode=''");`

[2021-05-17 15:15] indigoxela commented on #63
@quackers8me I had no time to dig deeper, but I suspect that old code (from D6 I guess), might be obsolete anyway:

https://github.com/backdrop-contrib/backup_migrate/blob/af477a30f8d2bd3e5c818b79b57e0b8ff5e4ad4f/includes/destinations.db.mysql.inc#L432

At least, the comment above seems to be outdated.

Backups work fine even with that line commented out (did a quick test).

[2021-05-17 17:28] quackers8me commented on #63
The Drupal module maintainer confirmed that this is obsolete code and has
now removed it from the D7 module.

I seem to be unable to commit to the repository due to permission issues,
so am awaiting a response to that before I can create a new release.

On Mon, May 17, 2021 at 8:16 AM indigoxela ***@***.***> wrote:

[2021-05-17 19:41] quackers8me commented on #62
Pull request merged and pushed into latest release

[2021-05-17 19:41] #62 closed, assigned to nobody

[2021-05-17 19:41] quackers8me commented on #63
Fixed and release created

[2021-05-17 19:41] #63 closed, assigned to nobody

[2021-05-19 21:08] stpaultim commented on #35
Yes, I'd like to see this too.

[2021-05-19 21:11] stpaultim opened #64 "Possible Problem with Backup and Migrate Restore DB"
Just creating this ticket based upon this issue reported in the forum. I assume that this user also updated core to 1.19.0.

https://forum.backdropcms.org/comment/2867#comment-2867

I have not recreated or confirmed this issue. Has anyone else had this problem?

[2021-05-19 23:39] quackers8me commented on #64
I can confirm the issue and found that it's due to removing the 'exends PDO' from the DatabaseConnection class to accommodate PHP8. I am looking for a solution and have reached out to the Drupal module maintainer.

[2021-05-20 19:48] stpaultim commented on #64
@quackers8me - Thanks for the follow-up.

The user who reported this problem added the following information to the forum discussion.

[2021-05-20 20:07] quackers8me commented on #64
In discussion with the D7 maintainer, the fix may require a change to backdrop core.

[2021-05-20 21:11] quicksketch commented on #64
The core issue for tracking this is https://github.com/backdrop/backdrop-issues/issues/5094. Though we don't have any suggestion yet as to what the right fix would be on the core side either.

[2021-05-20 21:52] quackers8me commented on #64
@quicksketch I wasn't sure if it should go there so I created a new one. I will update that issue instead.

[2021-05-21 04:04] sillygwailo opened #65 "Add region configuration in the S3 destination settings"
I have an S3 bucket that I back up to that's in the `ca-central-1` AWS region, and it won't back up, and I get this error, because the library assumes the `us-east-1` AWS region:

[code]

That error is from the S3 library, but I got around it by hacking the module and hard-coding it:

[code]

https://www.drupal.org/project/backup_migrate/issues/3027843#comment-13236642 has a patch for the D8 versi

[2021-05-27 05:56] stpaultim commented on #64
I experienced this problem on one of my own sites yesterday.

[2021-06-01 20:15] wilburec opened #66 "Edit Schedule form page does not include breadcrumb, page title, and module tabs"
When editing an existing schedule item,  the form page does not display any of the navigation items.  (See screenshots)

If you want to stop editing, and just return to other module options, they are not available from this form.

Solution - Present this form with the module navigation items.
![Screenshot from 2021-06-01 15-11-23](https://user-images.githubusercontent.com/33846440/120384732-2728fc

[2021-08-11 19:04] larsdesigns opened #67 "Create Source Form Description Incorrect"
I found that the field on the create file source form should describe the source path instead it designs a destination path. I have attached a screenshot.

1. - [x] Correct description text and/or the logic that displays the text.
1. - [x] Make changes to the module and merge requests for the contributed Backdrop CMS module.

[backup_and_migrate_source_form.pdf](https://github.com/backdrop-contrib

[2021-08-11 22:30] larsdesigns opened #69 "Improve Create Destination Form Descriptions and Labels"
The language for the form fields is a little confusing.

1. - [x] Improve the field descriptions and labels.

[2021-08-11 22:51] larsdesigns commented on #69
Created pull request: https://github.com/backdrop-contrib/backup_migrate/pull/70

[2021-08-11 22:52] larsdesigns commented on #67
Created pull request: https://github.com/backdrop-contrib/backup_migrate/pull/68

[2021-08-17 14:01] #67 closed, assigned to larsdesigns

[2021-08-17 15:22] quackers8me commented on #69
@larsdesigns Thank-you for all these updates! I noticed a couple errors in my testing and have fixed. Please pull again from 1.x-1.x and test. If it works for you I'll issue a release.

[2021-08-17 17:52] larsdesigns commented on #69
@quackers8me, Thanks, it looks good to me.

[2021-08-17 18:31] #69 closed, assigned to larsdesigns

[2021-08-17 18:32] #64 closed, assigned to quackers8me

[2021-08-17 18:36] quackers8me commented on #35
Merged in PR #71

[2021-08-17 18:36] #35 closed, assigned to quackers8me

[2021-08-17 18:38] quackers8me commented on #42
Closed since no others have reported this bug

[2021-08-17 18:38] #42 closed, assigned to nobody

[2021-08-17 18:39] quackers8me commented on #31
added in PR #71

[2021-08-17 18:39] #31 closed, assigned to nobody

[2021-08-18 13:56] herbdool commented on #60
In my experience in converting modules from Drupal 7 to Backdrop, the easier part is converting settings in the variable table to JSON config files. The harder part is, first, deciding if other tables should also be in configuration files, and, second, recreating the UI for that part to work with config files.

[2021-08-18 16:54] quackers8me commented on #60
@herbdool, Do you have an example of a module that you could suggest that has done this well?

[2021-08-19 18:05] herbdool commented on #60
Off the top of my head I'd say Feeds, because I've helped with it.

[2021-10-17 20:42] Wylbur commented on #28
I checked and this does not appear to be an issue any longer.  Can this be closed?

[2021-10-18 17:54] quackers8me commented on #28
@Wylbur yes, this can be closed. Thank-you.

[2021-10-18 17:54] #28 closed, assigned to nobody

[2021-10-18 18:03] #46 closed, assigned to nobody

[2021-11-03 23:18] Wylbur opened #72 "Database update 1006 is failing during website import from Drupal 7"
I'm importing a Drupal 7 website to backdrop for the first time.  When I am running the update, it fails with the following error message:
`An AJAX HTTP error occurred. HTTP Result Code: 500 Debugging information follows. Path: http://sapsbd.docksal/core/update.php?op=selection&token=AgdxKy0g68L-6kIg_AZ9oCY93iLny-T_B9UdZArAmCQ&id=707&op=do_nojs&op=do StatusText: Service unavailable (with message)

[2021-11-04 00:17] quackers8me commented on #72
I think you've found a bug in the install file where it's not loading the module into memory first. I believe that 1006 function should include:
`  module_load_include('module', 'backup_migrate', 'backup_migrate'); `
before trying to "Get schedule"
I will do further testing and issue a new release if this is the case.

[2021-11-04 00:42] Wylbur commented on #72
@quackers8me

### Testing
Adding the code line at line 494 of backup_migrate.install resolved the install messages perfectly!

I have further error messages now, and will start additional issues for those items.

Thanks for your quick response!

[2021-11-04 03:10] #72 closed, assigned to quackers8me

[2021-11-08 21:21] Wylbur opened #73 "backup_migrate.settings.json file contains lots of nodesquirrel variables"
Lots of nodesquirrel variables are listed in the backup_migrate settings file:
[code]
These values are present in the backup_migrate.install file, and the config/backup_migrate.settings.json file that ships with the module.

[2021-11-09 15:39] quackers8me commented on #73
@Wylbur This have been removed now but I will wait to create a release as this fix changes no functionality.

[2021-11-09 15:39] #73 closed, assigned to nobody

[2022-01-04 23:44] larsdesigns opened #74 "Co-maintainer Request"
Hi @quackers8me, If you would like to take on a co-maintainer, I would like to help improve and maintain the features that I added last spring and refactor some other spots.

Best regards,
Justin C.

[2022-01-05 01:07] quackers8me commented on #74
Hi Justin,
That would be great! Let me know what you need from me for access to the
repository.

Cheers,
Jason

On Tue, Jan 4, 2022 at 3:44 PM Justin Christoffersen <
***@***.***> wrote:

[2022-01-05 15:22] quackers8me commented on #74
@larsdesigns I've given you maintainer access to the repository now.

[2022-01-05 16:38] larsdesigns commented on #74
Great, thank you so much. I will help out as much as I can.

[2022-01-05 16:38] #74 closed, assigned to larsdesigns

[2022-07-22 04:25] abetomas opened #75 "Notice: Undefined variable: v_version in Archive_Tar->_writeLongHeader() (line 1678 of /Applications/MAMP/htdocs/rc-1b/core/modules/system/system.tar.inc)."
I got this message when backing up entire site:
`Notice: Undefined variable: v_version in Archive_Tar->_writeLongHeader() (line 1678 of /Applications/MAMP/htdocs/rc-1b/core/modules/system/system.tar.inc).`
However, (a) the backup files were actually generated in the Manual Directory, (b) the messages were not flagged as errors in the log messages report! ???

<img width="1195" alt="Screen Shot 202

[2022-08-14 14:59] quackers8me commented on #75
@abetomas Which version of PHP are you running? I found the following post on the Drupal issue queue: https://www.drupal.org/project/backup_migrate/issues/3265002

[2022-08-15 03:43] abetomas commented on #75
Thanks for your response.
The MAMP PHP version was 5.6.40, I changed the version to PHP version 7.4.21 and the same messages were displayed.  However, the backup files were also created.

<img width="798" alt="Screen Shot 2022-08-14 at 11 41 39 PM" src="https://user-images.githubusercontent.com/9346415/184573490-ed7355d7-4a2f-4c8f-ab5b-afdb09cb1805.png">

[2022-08-15 15:12] indigoxela commented on #75
Can you give us a little more info about your whole local dev setup? (Obviously this is a local install.)

[2022-08-16 02:42] abetomas commented on #75
Thank you for your response.  My local dev setup:
- MacBook Pro M1-chip, Monterey MacOs 12.5, 8gb memory, 512gb SSD drive
- MAMP (free version)
- Please see attached pdf for backdrop status
- it's a very small test setup for a community site, compressed tarball of test site is only 20mb
[Status-report.pdf](https://github.com/backdrop-contrib/backup_migrate/files/9347528/Status-report.pdf)

Please

[2022-08-25 18:25] jenlampton opened #76 "PHP 8 warning"
I'm seeing the following warning after switching a site from php 7.4 to PHP 8.
[code]

[2022-10-07 22:59] quicksketch opened #78 "Include Port Number Option for Database Connections"
When connecting Backup/Migrate to Pantheon sites, they use non-standard port numbers (usually a 5-digit port, e.g. 63478, that is random per site). It would be great to have this port number exposed as an option for a backup destination.

[2022-10-08 06:54] quicksketch commented on #78
PR filed at https://github.com/backdrop-contrib/backup_migrate/pull/79. Seemingly this is trivial because Backup and Migrate saves and utilizes port numbers if available (such as from reading settings.php port numbers) but there's just no field for entering a value on the destinations form.

[2022-10-08 14:01] quackers8me commented on #78
@larsdesigns is co-maintainer and should be able to create a release.

On Fri, Oct 7, 2022 at 11:54 PM Nate Lampton ***@***.***>
wrote:

[2022-10-12 14:39] irinaz commented on #78
Pantheon is changing port numbers once in a while for existing sites, so missing option to add port number is a blocker for this module.

[2022-10-16 23:59] #76 closed, assigned to nobody

[2022-10-17 00:01] #78 closed, assigned to nobody

[2022-11-23 16:44] tikita opened #80 "PHP 8: Error messages: RESTORE / SAVED BACKUPS when using FTP Destination"
Hello,

I know Backup & Migrate from Drupal 7 but have a problem here on a freshly installed Backdrop:

It works: create backups to the directories

[code]
But when I click on the tab **Restore** this error appears:

[code]

And when I click on the tab **Saved Backups** this error appears:

`ftp_systype(): Argument #1 ($ftp) must be of type FTP\Connection, null given `

--

_Backup and Migrate 1.x

[2022-11-24 09:10] olafgrabienski commented on #80
I'm using Backup and Migrate as well and don't see the error. Searching Drupal issue queue I found however a similar issue:

https://www.drupal.org/project/backup_migrate/issues/3305432

From what I read there, it seems to be an issue with PHP 8.

[2022-11-24 09:15] olafgrabienski commented on #80
And one question: Is Backup and Migrate somehow configured to use a FTP connection?

[2022-11-24 10:09] tikita commented on #80
Yes, I had set up another backup destination to an FTP server. If I remove this, then the error message no longer appears. Thanks for your hint!

But it's also a PHP problem: the [PHP manual](https://www.php.net/manual/en/function.ftp-systype.php) writes about **ftp_systype** that with version 8.1 "the ftp parameter expects an FTP\Connection instance now; previously, a resource was expected".

It